@{
    ViewData["Title"] = "ConfigurarJuego";
}
    <form action='@Url.Action("Comenzar", "Home")'>
    <select class="form-select" size="3" aria-label="Size 3 select example" required>
        <option selected >Dificultad</option>
       @for (int i = 0; i < ViewBag.Dificultades.Count; i++)
    {
    <option value="@i">@ViewBag.Dificultades[i].Nombre</option>
    }
    </select>

    <select class="form-select" size="3" aria-label="Size 3 select example" required>
         <option selected >Categoria</option>
         @{
            for(int i = 0; i< ViewBag.Categorias.Count; i++){
                <option value="@i">@ViewBag.Categorias[i].Nombre</option>
            }
        }
    </select>

    <input class="form-control" type="text" placeholder="Ingrese el nombre de usuario" aria-label="default input example" required>

    <button type="button" class="btn btn-primary">Jugar</button>
</form>