@{
    int sumatoria = 0;
}

<main class= "juego" style="background-color: @Juego.categoriaElegida;">
    <header>
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="nombreUsuario bg-white">@ViewBag.nombreUsuario</h3>
            </div>
            <div class="text-white d-flex align-items-center">   
                <h3 class="mt-2">Tiempo: <span id="tiempo"></span></h3>
            </div>
            <div>
                <h3 class="puntaje bg-white">Puntos: @ViewBag.Puntaje</h3>
            </div>
        </div>
        <div class=" text-white mb-5">
            <h2 class="d-flex justify-content-center">@Juego.categoriaNombre</h2>
        </div>
    </header>

    <h3 class="pregunta bg-white">@ViewBag.PregSiguiente.Enunciado</h3>
    <div class ="Opciones">
        <form action='@Url.Action("VerificarRespuesta")'>
            <input type="hidden" name="idPregunta" value="@ViewBag.PregSiguiente.IdPregunta">
            @foreach(Respuesta r in ViewBag.RespuestaPregunta){
                <button class="respuesta-btn" name="idRespuesta" value="@r.IdRespuesta">@r.Contenido</button>
            }
        </form>
    </div>
</main>



